/* html,
body {
  font-size: 1.8em;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-link {
  margin: 0 1em;
  border-bottom: 0.1em dashed #F92672;
  color: #F92672;
  font-size: 0.8em;
  font-weight: bolder;
  padding: 1px;
  transition: all 100ms;
  text-decoration: none;
  line-height: 1em;
}
.btn-link:hover{
  color: #0dbdee;
  border-bottom: 0.1em dotted #0dbdee;
}

.main-table {
  display: flex;
  width: 100%;
  margin-top: 5%;
}

.main-table div {
  text-align: center;
  border: 5px solid #0dbdee;
  width: 50%;
}

.big-image {
  height: 400px;
}

.sample-viewer {
  height: 100%;
}

.main-pane {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-pane .code {
  width: 45%;
  height: 100%;
  margin: 0.25em;
}

.main-pane .code>pre {
  height: 100%;
}

.main-pane .sample {
  border: 1px solid mediumaquamarine;
  width: 55%;
  height: 100%;
  padding: 1em;
  margin: 1em;
}

.diagram-presenter {
  position: relative;
  margin: 100px auto;
  text-align: center;
  width: 100%;
}

.diagram-presenter .front-image {
  position: absolute;
  z-index: 100;
  transition: all 500ms;
}

.diagram-presenter .front-image.move {
  box-shadow: 400px 5px 50px rgba(153, 153, 153, 0.2);
  transform: translate(-600px, 0);
}

.diagram-presenter .back-image {
  position: absolute;
  z-index: 99;
  top: 150px;
}